<div class="docs-component-viewer">
  <mat-card class="mat-elevation-z24">
    <mat-tab-group>
      <mat-tab label="Разработка, сопровождение и публикация сайта">
        <table class="table table-responsive table-striped">
          <thead class="thead-default">
          <tr>
            <th>Наименование</th>
            <th>Срок</th>
            <th>Цена ₽</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th colspan="3" class="text-center">Разработка сайтов</th>
          </tr>
          <tr>
            <td>Сайт визитка</td>
            <td>от 3 дней</td>
            <td>от 5 000</td>
          </tr>
          <tr>
            <td>Многостраничный</td>
            <td>от 3 дней</td>
            <td>от 8 000</td>
          </tr>
          <tr>
            <td>Landing page</td>
            <td>от 3 дней</td>
            <td>от 7 000</td>
          </tr>
          <tr>
            <td>Single page application</td>
            <td>от 3 дней</td>
            <td>от 25 000</td>
          </tr>

          <tr>
            <th colspan="3" class="text-center">Сопровождение сайтов</th>
          </tr>
          <tr>
            <td>Сопровождение, техническое обслуживание, наполнение (Standart)</td>
            <td>1 мес</td>
            <td>5 500</td>
          </tr>
          <tr>
            <td>Сопровождение, техническое обслуживание, наполнение (All inclusive)</td>
            <td>1 мес</td>
            <td>12 000</td>
          </tr>
          <tr>
            <td>Доработка, улучшение, оптимизация</td>
            <td>1 час</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Наполнение сайта, написание текстов (копирайт за 1000 символов без пробелов)</td>
            <td>1 день</td>
            <td>350</td>
          </tr>
          <tr>
            <td>Наполнение сайта, написание текстов (рерайт за 1000 символов без пробелов)</td>
            <td>1 день</td>
            <td>150</td>
          </tr>

          <tr>
            <th colspan="3" class="text-center">Публикация</th>
          </tr>
          <tr>
            <td>Размещение сайта на нашем хостинге</td>
            <td>1 год</td>
            <td>от 1 500</td>
          </tr>
          <tr>
            <td>Регистрация доменного имени</td>
            <td>1 год</td>
            <td>от 500</td>
          </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Администрирование серверов">
        <table class="table price table-responsive table-striped">
          <thead class="thead-default">
          <tr>
            <th>Наименование</th>
            <th>Норма, ч</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Установка Windows Server 2008</td>
            <td>4</td>
            <td>8000</td>
          </tr>
          <tr>
            <td>Настройка терминального сервера Windows Server 2008</td>
            <td>2</td>
            <td>4000</td>
          </tr>
          <tr>
            <td>Добавление, настройка роли</td>
            <td>2</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>Установка MS SQL Server 2008</td>
            <td>2</td>
            <td>4000</td>
          </tr>
          <tr>
            <td>Диагностика сервера</td>
            <td>2</td>
            <td>4000</td>
          </tr>
          <tr>
            <td>Настройка технологий виртуализаций данных (raid, резервное копирование)</td>
            <td>2</td>
            <td>3000</td>
          </tr>
          <tr>
            <td class="text-center text-primary" colspan="3"></td>
          </tr>
          <tr>
            <td>* Стоимость часа работы специалиста 1С, клиент-банка, бух отчетности (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1200</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы настройщика ПК (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы сис администратора (обслуживание сервера, сетевых узлов)</td>
            <td>1</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работ по прокладке, демотажу, обслуживанию ЛВС</td>
            <td>1</td>
            <td>900</td>
          </tr>
          <tr>
            <td>* Временной порог 30 минут с округлением в большую сторону</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Устновка ПО, Драйверов">
        <table class="table price table-responsive table-striped">
          <thead class="thead-default">
          <tr>
            <th>Наименование</th>
            <th>Норма, ч</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Установка драйвера устройства ПК</td>
            <td>0.5</td>
            <td>700</td>
          </tr>
          <tr>
            <td>Установка ОС  Windows на ПК (лиц покупается отдельно)</td>
            <td>2</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>Установка ОС + необходимые драйвера на ноутбук</td>
            <td>3</td>
            <td>1600</td>
          </tr>
          <tr>
            <td>Установка лицензионного ПО (кроме ОС) за программу</td>
            <td>0.5</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Установка MS Office (лиц покупается отдельно)</td>
            <td>0.5</td>
            <td>500</td>
          </tr>
          <tr>
            <td class="text-center text-primary" colspan="3"></td>
          </tr>
          <tr>
            <td>* Стоимость часа работы специалиста 1С, клиент-банка, бух отчетности (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1200</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы настройщика ПК (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы сис администратора (обслуживание сервера, сетевых узлов)</td>
            <td>1</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работ по прокладке, демотажу, обслуживанию ЛВС</td>
            <td>1</td>
            <td>900</td>
          </tr>
          <tr>
            <td>* Временной порог 30 минут с округлением в большую сторону</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Электронная отчетность, клиент-банки">
        <table class="table price table-responsive table-striped">
          <thead class="thead-default">
          <tr>
            <th>Наименование</th>
            <th>Норма, ч</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Установка, обновление программ бухгалтерской отчетности</td>
            <td>0.5</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Установка ЭЦП</td>
            <td>0.5</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Установка Криптографических утилит (КриптоПро)</td>
            <td>0.5</td>
            <td>800</td>
          </tr>
          <tr>
            <td>Настройка доступа к интернет клиент банку</td>
            <td>1</td>
            <td>700</td>
          </tr>
          <tr>
            <td>Переустановка СБИС</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td class="text-center text-primary" colspan="3"></td>
          </tr>
          <tr>
            <td>* Стоимость часа работы специалиста 1С, клиент-банка, бух отчетности (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1200</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы настройщика ПК (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы сис администратора (обслуживание сервера, сетевых узлов)</td>
            <td>1</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работ по прокладке, демотажу, обслуживанию ЛВС</td>
            <td>1</td>
            <td>900</td>
          </tr>
          <tr>
            <td>* Временной порог 30 минут с округлением в большую сторону</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Администрирование ПК">
        <table class="table price table-responsive table-striped">
          <thead class="thead-default">
          <tr>
            <th>Наименование</th>
            <th>Норма, ч</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Оптимизация чистка системы</td>
            <td>2</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>Диагностика ПК на неисправности</td>
            <td>1</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Замена/внедрение ОЗУ, HDD, Video, привода, PCI-устройств</td>
            <td>0.7</td>
            <td>400</td>
          </tr>
          <tr>
            <td>Замена/внедрение материнской платы, процессора, блока питания</td>
            <td>1</td>
            <td>600</td>
          </tr>
          <tr>
            <td>Установка и подключение компьютерной периферии</td>
            <td>0.2</td>
            <td>300</td>
          </tr>
          <tr>
            <td>Чистка ПК (без учета стоимости расходных материалов)</td>
            <td>1</td>
            <td>800</td>
          </tr>
          <tr>
            <td>Удаление вирусов</td>
            <td>2</td>
            <td>2000</td>
          </tr>
          <tr>
            <td class="text-center text-primary" colspan="3"></td>
          </tr>
          <tr>
            <td>* Стоимость часа работы специалиста 1С, клиент-банка, бух отчетности (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1200</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы настройщика ПК (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы сис администратора (обслуживание сервера, сетевых узлов)</td>
            <td>1</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работ по прокладке, демотажу, обслуживанию ЛВС</td>
            <td>1</td>
            <td>900</td>
          </tr>
          <tr>
            <td>* Временной порог 30 минут с округлением в большую сторону</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Интернет и сети">
        <table class="table price table-responsive table-striped">
          <thead class="thead-default">
          <tr>
            <th>Наименование</th>
            <th>Норма, ч</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Настройка сетевых хранилищ (NAS)</td>
            <td>2</td>
            <td>2500</td>
          </tr>
          <tr>
            <td>Настройка интернет (настройка роутера) вкл. настройку 1 ПК</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>Настройка интернет доп рабочее место</td>
            <td>0.25</td>
            <td>250</td>
          </tr>
          <tr>
            <td>Настройка точки доступа Wi-Fi</td>
            <td>0.5</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Настройка локальной сети (1ПК)</td>
            <td>0.2</td>
            <td>200</td>
          </tr>
          <tr>
            <td>* Условие: наличие проложенных кабелей или Wi-Fi</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="text-center text-primary" colspan="3"></td>
          </tr>
          <tr>
            <td>* Стоимость часа работы специалиста 1С, клиент-банка, бух отчетности (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1200</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы настройщика ПК (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы сис администратора (обслуживание сервера, сетевых узлов)</td>
            <td>1</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работ по прокладке, демотажу, обслуживанию ЛВС</td>
            <td>1</td>
            <td>900</td>
          </tr>
          <tr>
            <td>* Временной порог 30 минут с округлением в большую сторону</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Оргтехника">
        <table class="table price table-responsive table-striped">
          <thead class="thead-default">
          <tr>
            <th>Наименование</th>
            <th>Норма, ч</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Установка принтера (локально)</td>
            <td>0.5</td>
            <td>400</td>
          </tr>
          <tr>
            <td>Установка МФУ</td>
            <td>0.5</td>
            <td>700</td>
          </tr>
          <tr>
            <td>Настрока принт-сервера</td>
            <td>0.5</td>
            <td>500</td>
          </tr>
          <tr>
            <td>Подключени сетевого МФУ к 1 ПК</td>
            <td>0.3</td>
            <td>400</td>
          </tr>
          <tr>
            <td>Подключение сетевого принтера к 1 ПК</td>
            <td>0.25</td>
            <td>300</td>
          </tr>
          <tr>
            <td class="text-center text-primary" colspan="3"></td>
          </tr>
          <tr>
            <td>* Стоимость часа работы специалиста 1С, клиент-банка, бух отчетности (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1200</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы настройщика ПК (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы сис администратора (обслуживание сервера, сетевых узлов)</td>
            <td>1</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работ по прокладке, демотажу, обслуживанию ЛВС</td>
            <td>1</td>
            <td>900</td>
          </tr>
          <tr>
            <td>* Временной порог 30 минут с округлением в большую сторону</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </mat-tab>
      <mat-tab label="Приобретение ПК">
        <table class="table price table-responsive table-striped">
          <thead class="thead-default">
          <tr>
            <th>Наименование</th>
            <th>Норма, ч</th>
            <th>Цена</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Помощь в подборе Сетевых устройств, оргтехники, периферии</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>Помощь в подборе ПК и комплектующих</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>Первоначальная настройка ПК (сборка, оптимизация БИОС)</td>
            <td>2</td>
            <td>1200</td>
          </tr>
          <tr>
            <td class="text-center text-primary" colspan="3"></td>
          </tr>
          <tr>
            <td>* Стоимость часа работы специалиста 1С, клиент-банка, бух отчетности (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1200</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы настройщика ПК (консультирование, обслуживание)</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работы сис администратора (обслуживание сервера, сетевых узлов)</td>
            <td>1</td>
            <td>2000</td>
          </tr>
          <tr>
            <td>* Стоимость часа работ по прокладке, демотажу, обслуживанию ЛВС</td>
            <td>1</td>
            <td>900</td>
          </tr>
          <tr>
            <td>* Временной порог 30 минут с округлением в большую сторону</td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
