<div class="docs-component-viewer">
  <mat-card class="mat-elevation-z24">
    <h1 class="text-center display-4 text-primary">С нами можно связаться</h1>

    <h3>ITProService</h3>
    <p>Разработка сайтов, сервисное и абоненское обслуживание компьютеров и оргтехники, поддержка локальных и беспроводных сетей в городе Белгород.</p>
    <mat-list>
      <mat-list-item>
        <p>
          <strong>
            <a href="tel:89995186348">
              <mat-icon>phonelink_ring</mat-icon>
              8 (999) 518-63-48
            </a>
          </strong>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p>
          <strong>
            <img src="../../../assets/img/icons/icq.png" alt="ICQ" width="24">
            ICQ: 467324766
          </strong>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p>
          <strong>
            <img src="../../../assets/img/icons/skype.png" alt="ICQ" width="24">
            Skype: Marround
          </strong>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p>
          <strong>
            <a href="mailto:info@itservice.su">
              <mat-icon>mail_outline</mat-icon>
              info@itservice.su
            </a>
          </strong>
        </p>
      </mat-list-item>
      <mat-list-item>
        <p>
          <strong>
            <mat-icon>query_builder</mat-icon>
            ПН-ПТ: 09:00 - 18:00
          </strong>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
