<header>
  <div class="docs-header-headline">
    <h1>IT Pro Service</h1>
  </div>
  <div class="docs-component-viewer">
    <mat-card>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <img src="../../../assets/img/PO.jpg" alt="" width="100%">
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-grid-tile-header>Обслуживание компьютеров и программ</mat-grid-tile-header>
            Ремонт и консультации
            Модернизация и ремонт компьютеров
            Установка оборудования и драйверов
            Устранение последствий вирусной атаки
            Консультации по работе с программами
            Модернизация и ремонт ноутбуков
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-grid-tile-header>
            Обслуживание 1С и бухгалтерских программ<br>Установка и обновление 1С, поддержка
          </mat-grid-tile-header>
            Установка и обновление конфигураций 1с (БП, ЗУП, УТ и т.д.)
            Помощь в подготовке отчетности в ПФ и ИФНС
            Разработка отчетов и документов
            Исправление ошибок в учете
            Обучение
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="../../../assets/img/1c.jpg" alt="" width="100%">
        </mat-grid-tile>

        <mat-grid-tile>
          <img src="../../../assets/img/server.jpg" alt="" width="100%">
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-grid-tile-header>
            Обслуживание серверов
          </mat-grid-tile-header>
          Поддержка и настройка серверов

          Обслуживание и настройка Windows и Linux серверов
          Администрирование серверных программ
          Круглосуточный мониторинг работы сервера
          Проектирование и сборка серверов и оборудования
          Планирование и поддержка информационной безопасности
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-grid-tile-header>
            Ремонт и обслуживание оргтехники
          </mat-grid-tile-header>
          Техническое обслуживание оргтехники

          Заправка и ремонт картриджей
          Ремонт и обслуживание принтеров
          Ремонт и обслуживание МФУ
          Ремонт и обслуживание копировальных аппаратов
          Консультации по подбору оборудования

        </mat-grid-tile>

        <mat-grid-tile>
          <img src="../../../assets/img/remont2.jpg" alt="" width="100%">
        </mat-grid-tile>
      </mat-grid-list>
      <!--<mat-grid-tile>-->
        <!--<mat-grid-tile-header>-->

        <!--</mat-grid-tile-header>-->

      <!--</mat-grid-tile>-->
    </mat-card>
  </div>
</header>
