<header>
  <div class="docs-header-headline">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item  active">
          <img src="../../../assets/img/slide/code.jpg" class="img-fluid">
          <div class="carousel-caption bg-primary">
            <h3>Создание сайтов</h3>
            <p>Одностраничный | Многостраничный | Landing | SPA</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/slide/server_r.jpg" class="img-fluid">
          <div class="carousel-caption bg-primary">
            <h3>Сервера</h3>
            <p>Windows | Linux</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/slide/po_r.jpg" class="img-fluid">
          <div class="carousel-caption bg-primary">
            <h3>Программное обеспечение</h3>
            <p>Windows | Office | Antivirus | 1С</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/slide/srv_r.jpg" class="img-fluid">
          <div class="carousel-caption bg-primary">
            <h3>Облачные технологии</h3>
            <p>VPS | Cloud Disk | Office 365 | Mail</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/slide/lan_r.jpg" class="img-fluid">
          <div class="carousel-caption bg-primary">
            <h3>Сети</h3>
            <p>LAN | WiFi</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/slide/hacker_r.jpg" class="img-fluid">
          <div class="carousel-caption bg-primary">
            <h3>Защита данных</h3>
            <p>Kaspersky | Antispyware | Firewall || CryptoPRO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="docs-component-viewer">
    <mat-card class="mat-elevation-z24">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h3>Создание сайтов под ключ</h3>
          <ul>Создание, сопровождение, модернизация
            <li>Сайт визитка</li>
            <li>Одностраничный сайт</li>
            <li>Многостраничный</li>
            <li>Landing page</li>
            <li>Single page application</li>
          </ul>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div style="background:url(../../../assets/img/home/code2.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
        </div>

        <hr class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div style="background:url(../../../assets/img/home/po2.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h3>Обслуживание компьютеров и программ!</h3>
          <ul>Ремонт и консультации
            <li>Модернизация и ремонт компьютеров</li>
            <li>Установка оборудования и драйверов</li>
            <li>Устранение последствий вирусной атаки</li>
            <li>Консультации по работе с программами</li>
            <li>Модернизация и ремонт ноутбуков</li>
          </ul>
        </div>

        <hr class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h3>ОБСЛУЖИВАНИЕ 1С И БУХГАЛТЕРСКИХ ПРОГРАММ</h3>
          <ul>Установка и обновление 1С, поддержка
            <li>Установка и обновление конфигураций 1с (БП, ЗУП, УТ и т.д.)</li>
            <li>Помощь в подготовке отчетности в ПФ и ИФНС</li>
            <li>Разработка отчетов и документов</li>
            <li>Исправление ошибок в учете</li>
            <li>Обучение</li>
          </ul>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div style="background:url(../../../assets/img/home/1c.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
        </div>

        <hr class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div style="background:url(../../../assets/img/home/server.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h3>ОБСЛУЖИВАНИЕ СЕРВЕРОВ</h3>
          <ul>Поддержка и настройка серверов
            <li>Обслуживание и настройка Windows и Linux серверов</li>
            <li>Администрирование серверных программ</li>
            <li>Круглосуточный мониторинг работы сервера</li>
            <li>Проектирование и сборка серверов и оборудования</li>
            <li>Планирование и поддержка информационной безопасности</li>
          </ul>
        </div>

        <hr class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h3>МОНТАЖ И НАСТРОЙКА ЛОКАЛЬНЫХ И WI-FI СЕТЕЙ</h3>
          <ul>Профессиональный монтаж и настройка сетей
            <li>Проектирование сети</li>
            <li>Подбор и поставка сетевого оборудования</li>
            <li>Настройка WI-FI и локальных сетей</li>
            <li>Прокладка кабелей и монтаж сетевого оборудования</li>
            <li>Поддержка и оптимизация сети</li>
          </ul>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div style="background:url(../../../assets/img/home/wifi2.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
        </div>

        <hr class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11">

        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div style="background:url(../../../assets/img/home/remont.jpg) 50% 50% no-repeat; background-size: cover;" class="img-card"></div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h3>РЕМОНТ И ОБСЛУЖИВАНИЕ ОРГТЕХНИКИ</h3>
          <ul>Техническое обслуживание оргтехники
            <li>Заправка и ремонт картриджей</li>
            <li>Ремонт и обслуживание принтеров</li>
            <li>Ремонт и обслуживание МФУ</li>
            <li>Ремонт и обслуживание копировальных аппаратов</li>
            <li>Консультации по подбору оборудования</li>
          </ul>
        </div>

      </div>
    </mat-card>
  </div>
</header>
