<div class="docs-component-viewer">
  <mat-card class="mat-elevation-z24">
    <p><strong>Мы рады предложить вам квалифицированную помощь в обслуживании вашей ИТ инфраструктуры на взаимовыгодных условиях.</strong></p>
    <p>Вычислительная техника, принтеры, многофункциональные устройства IP телефония и другое оборудование — на сегодняшний день, главное, что есть в любом офисе. Вся работа любой современной организации связана с техникой, и обойтись без неё просто невозможно.</p>
    <p>Однако любая техника рано или поздно ломается, или, по крайне мере, начинает работать не вполне корректно. В офисе это грозит серьёзными проблемами — из-за одной технической неисправности может остановиться работа сотрудника, целого отдела, а то и всей компании.</p>
    <p>Допускать такое никак нельзя, согласитесь? Значит, стоит подумать об обслуживании вашего парка компьютерной техники заранее</p>
    <h2><strong>Какие услуги мы оказываем?</strong></h2>
    <p><strong>Ремонт и обслуживание компьютеров организаций и частных лиц. Услуги по системному администрированию серверов и рабочих станций.</strong></p>
    <p>Наши специалисты готовы взять на себя решение всех возможных в данной сфере. Вот лишь основные примеры того, чем мы занимаемся:</p>
    <ul>
      <li><strong>Ремонт компьютеров: устранение аппаратных и программных неисправностей;</strong></li>
      <li><strong>Профилактические меры по поддержанию работоспособности;</strong></li>
      <li><strong>Организация антивирусной защиты, «лечения» компьютеров и сети;</strong></li>
      <li><strong>Оптимизация с целью повышение быстродействия и производительности компьютеров;</strong></li>
      <li><strong>Установка любого ПО, а также его настройка;</strong></li>
      <li><strong>Создание локальной сети, поддержание её нормальной работы, поиск и устранение неисправностей;</strong></li>
      <li><strong>Организация систем резервного копирования и хранения данных:</strong></li>
      <li><strong>Обслуживание серверов;</strong></li>
      <li><strong>Ввод в эксплуатацию и ремонт печатной и копировальной техники;</strong></li>
      <li><strong>Консультации по развитию и обновлению парка техники;</strong></li>
      <li><strong>Помощь в закупках компьютерного оборудования;</strong></li>
      <li><strong>Комплексная поддержка семейства продуктов компании 1С Предприятие;</strong></li>
      <li><strong>Создание и поддержка систем видео наблюдения;</strong></li>
      <li><strong>Создание и поддержка IP телефонии;</strong></li>
      <li><strong>Обучение пользователей.</strong></li>
    </ul>
    <p>И это далеко не полный перечень. Мы сможем решить любую задачу, сколько сложной она бы ни оказалась — поэтому не думайте, что мы не в состоянии помочь, если ваша проблема не подходит под описание услуг выше. Возможно всё!</p>
    <p>Разумеется, мы предлагаем все варианты реализации технической поддержки: удалённые консультации по телефону, оперативные выезд нашего сотрудника на место, производство сложного ремонта на нашей территории.</p>
  </mat-card>
</div>
